<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APIs available on Nesture</title>
  </head>
  <body>
    <h1>APIs available on Nesture</h1>

    <h2>GET APIs</h2>
    <ul>
      <li><a href="/api">/api</a></li>
      <li><a href="/api/products">/api/products</a></li>
      <li><a href="/api/products/:id">/api/products/:id</a></li>
      <li><a href="/api/users/:id">/api/users/:id</a></li>
      <li><a href="/api/users/">/api/users/</a></li>
      <li><a href="/api/users/dashboard">/api/users/dashboard</a></li>
      <li><a href="/api/charts/user-stats">/api/charts/user-stats</a></li>
      <li>
        <a href="/api/charts/product-categories"
          >/api/charts/product-categories</a
        >
      </li>
      <li><a href="/api/charts/price-stats">/api/charts/price-stats</a></li>
    </ul>

    <h2>POST APIs</h2>
    <ul>
      <li><a href="/authentication">/authentication</a></li>
      <li><a href="/logout">/logout</a></li>
      <li><a href="/user">/user</a></li>
      <li><a href="/create-user">/create-user</a></li>
      <li>
        <a href="/api/payment/create-payment-intent"
          >/api/payment/create-payment-intent</a
        >
      </li>
      <li><a href="/api/contact-us">/api/contact-us</a></li>
    </ul>

    <h2>PUT APIs</h2>
    <ul>
      <li><a href="/api/products/:id">/api/products/:id</a></li>
      <li><a href="/api/users/:id">/api/users/:id</a></li>
    </ul>

    <h2>DELETE APIs</h2>
    <ul>
      <li><a href="/api/products/:id">/api/products/:id</a></li>
      <li><a href="/api/users/:id">/api/users/:id</a></li>
    </ul>
  </body>
</html>
